# Database Configuration
DB_USERNAME=root
DB_PASSWORD=admin

# Security Secrets
JWT_SECRET=your-secret-key-min-32-characters-required
AES_SECRET_KEY=16-character-key
ORGANIZER_API_KEY=your-api-key-here

# Integration API Keys
GEMINI_API_KEY=your-gemini-api-key-here

# Email SMTP Credentials
MAIL_USERNAME=weenorganization@gmail.com
MAIL_PASSWORD=kkhs sgna fdfi kmyg
