# Database Configuration
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

# Security Secrets
JWT_SECRET=your-secret-key-min-32-characters-required
AES_SECRET_KEY=16-character-key
ORGANIZER_API_KEY=your-api-key-here

# Integration API Keys
GEMINI_API_KEY=your-gemini-api-key-here

# Email SMTP Credentials
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-smtp-app-password
cs